<div>
  <div class="flex gap-x-3">
    <ng-container [ngTemplateOutlet]="statisticBlockTpl" [ngTemplateOutletContext]="{title: 'Thành viên', value: statistics.totalUser}"/>
    <ng-container [ngTemplateOutlet]="statisticBlockTpl" [ngTemplateOutletContext]="{title: 'Bài viết', value: statistics.totalPost}"/>
    <ng-container [ngTemplateOutlet]="statisticBlockTpl" [ngTemplateOutletContext]="{title: 'Phản hồi', value: statistics.totalReply}"/>
  </div>
</div>

<ng-template #statisticBlockTpl let-title="title" let-value="value">
  <div class="bg-white shadow rounded p-5 w-[190px]">
    <div class="text-gray-600 font-semibold">{{title | translate}}</div>
    <div class="font-semibold text-[32px] mt-2">{{value | shortenNumber}}</div>
  </div>
</ng-template>
