<p-toast
  position="bottom-left"
  styleClass="w-[350px]"
  [key]="id.toString()"
>
  <ng-template let-message pTemplate="message">
    <div (click)="navigateToSource(message.key, message.data['sourceId'], message.data['activity'])"
         class="flex-1 flex gap-x-3 items-start cursor-pointer">
      <together-avatar
        [src]="message.data['actorAvatar']"
      />
      <div>
        <div>
          <div class="font-semibold text-ellipsis line-clamp-1">{{ message.data['actorUserName'] }}</div>
          <div class="mt-1">{{ message.data['activity'] }}</div>
        </div>
        <div class="font-medium text-[13px] text-primary mt-1">{{ message.data['createdAt'] | timeAgo }}</div>
      </div>
    </div>
  </ng-template>
</p-toast>
