[Unit]
Description=Together.NET.v2 API Production

[Service]
WorkingDirectory=/var/www/Together.NET.v2/Server
ExecStart=/usr/bin/dotnet /var/www/Together.NET.v2/Server/Together.API.dll --urls http://\*:5015
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=togethernet
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target