<div class="fixed top-0 left-0 right-0 h-[60px] bg-white shadow z-[100]">
  <div class="flex mx-[120px]">
    <div routerLink="/" class="text-[22px] font-semibold uppercase cursor-pointer leading-[60px]">
      Together<span class="text-primary">NET</span>
    </div>
    <div class="flex flex-row items-center mx-[-14px] ml-auto">
      <div routerLink="/" class="navbar--item">
        <together-svg-icon name="home" componentClass="mt-1"/>
      </div>
      <div routerLink="/conversations" class="navbar--item">
        <together-svg-icon name="message" [size]="24" componentClass="mt-1"/>
      </div>
      <div class="navbar--item">
        <together-svg-icon name="notification" [size]="24" componentClass="mt-1"/>
      </div>
      <div (click)="menu.toggle($event)" class="navbar--item">
        <together-avatar [src]="(userService.me$ | async)?.avatar" componentClass="scale-[0.6] mt-1"/>
      </div>
    </div>
  </div>
  <p-menu #menu popup [model]="items" styleClass="w-[220px]">
    <ng-template pTemplate="start">
      <div class="flex items-center">
        <together-avatar [src]="(userService.me$ | async)?.avatar" componentClass="scale-[0.6]"/>
        <div class="text-ellipsis line-clamp-1 font-medium mb-1">{{(userService.me$ | async)?.userName}}</div>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <div pRipple class="flex items-center cursor-pointer p-4" [routerLink]="item.routerLink">
        <span [class]="item.icon"></span>
        <span class="ml-4">{{ item.label }}</span>
      </div>
    </ng-template>
  </p-menu>
</div>

<style>
  .navbar--item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    transition: all;
    transition-duration: 200ms;

    &:hover {
      cursor: pointer;
      background-color: rgba(215, 218, 220, 0.62);
    }

    &:active {
      scale: 0.7;
      border-radius: 50%
    }
  }
</style>
