<div class="fixed top-0 left-0 right-0 h-[60px] bg-white shadow z-[10] px-[120px]">
  <div class="flex">
    <div routerLink="/" class="text-[22px] font-semibold uppercase cursor-pointer leading-[60px]">
      Together<span class="text-primary">NET</span>
    </div>
    <div class="flex flex-row items-center mx-[-14px] ml-auto">
      <div routerLink="/" class="navbar--item">
        <p-button outlined rounded text>
          <together-svg-icon name="home"/>
        </p-button>
      </div>
      <div class="navbar--item">
        <together-svg-icon name="search" [size]="36"/>
      </div>
      <div routerLink="/conversations" class="navbar--item">
        <together-svg-icon name="message" [size]="24"/>
      </div>
      <div routerLink="/notifications" class="navbar--item">
        <together-svg-icon name="notification" [size]="24"/>
      </div>
      <div routerLink="/admin" class="navbar--item">
        <together-svg-icon name="settings" [size]="26"/>
      </div>
    </div>
  </div>
</div>
