<div class="flex justify-between items-center gap-x-2 mb-4">
  <div *ngIf="!loading" class="text-[26px] font-medium text-ellipsis line-clamp-1">{{extra?.['topicName']}}</div>
  <p-skeleton *ngIf="loading" width="320px" height="30px"/>
  <p-button
    (onClick)="commonService.navigateToCreatePost(extra?.['topicId'])"
    styleClass="bg-primary"
    icon="pi pi-plus"
    [label]="commonService.translate('Create post')"
  />
</div>
@if ((postService.posts$ | async)?.length) {
  @if (!loading) {
    <together-post
      *ngFor="let post of postService.posts$ | async; let last=last"
      [post]="post"
      [bordered]="!last"
    />
  } @else {
    <together-post
      *ngFor="let _ of Array(6)"
      loading
    />
  }
  <together-paginator
    (paginationChange)="onPaginationChange($event)"
    [pageIndex]="params.pageIndex"
    [pageSize]="params.pageSize"
    [totalRecord]="totalRecord"
    componentClass="mt-4 shadow"
  />

}
@else {
  <div>Chưa có bài viết</div>
}
